/* Large Screens */

@media only screen and (min-width: 769px) {
  .navbar {
    width: 240px;
    height: 100vh;
  }
  .navbar__burger {
    display: none;
  }
}

/* Small Screens */

@media (max-width: 769px) {
  .lock {
    overflow: hidden;
  }
  .active-btn {
    width: 240px !important;
    z-index: 2;
    .navbar__link-text {
      display: block !important;
    }
    .navbar__btn {
      display: none;
    }
    .navbar__btn-exit {
      display: block !important;
    }
    .navbar__link {
      width: 100%;
    }
  }
  .navbar__link {
    width: 75px;
  }
  .navbar {
    width: 104px;
    height: 100vh;
    .navbar__logo {
      .navbar__link-text {
        display: none;
      }
      .navbar__link-img {
        width: 24px;
        height: 24px;
      }
    }
    .navbar__link-text {
      display: none;
    }
    &:hover {
      .navbar__logo {
        .navbar__link-text {
          font-size: 14px;
        }
      }
    }
    .navbar__burger {
      position: absolute;
      right: -47px;
    }
    .navbar__btn {
      position: absolute;
      top: 42px;
    }
    .navbar__btn-exit {
      position: absolute;
      top: 42px;
      right: 15px;
      display: none;
    }
  }
  .header__title {
    text-align: right;
  }
  .container {
    margin-left: 104px;
    padding: 26px 27px 26px 27px;
  }
  .main {
    margin-left: 104px;
    padding: 26px 27px 26px 27px;
  }
  .main__card {
    width: 296px;
    height: 144px;
    .main__card-suptitle {
      padding-bottom: 31px;
    }
    .main__card-value {
      padding-bottom: 3px;
    }
    .main__cover {
      width: 296px;
      height: 144px;
    }
    .main__img {
      width: 35%;
      margin: auto;
      bottom: 0;
      top: 0;
    }
  }
}

@media (max-width: 460px) {
  .active-btn {
    width: 192px !important;
    z-index: 2;
    .navbar__link-text {
      display: block !important;
    }
    .navbar__btn {
      display: none;
    }
    .navbar__btn-exit {
      display: block !important;
    }
    .navbar__link {
      width: 100%;
      padding-left: 19px;
      display: flex !important;
    }
    .navbar__logo {
      .navbar__link {
        display: flex !important;
      }
    }
  }
  .main {
    margin-left: 12px !important;
  }
  .container {
    margin-left: 12px !important;
  }
  .navbar {
    width: 12px;
    .navbar__link {
      display: none;
    }
  }
  .navbar__item .navbar__link-img {
    display: none;
  }
  .navbar__item .navbar__link-text {
    margin-left: 0;
  }
}
